.task {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.75rem;

    width: 100%;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.task.done {
    border: 0px;
}

.checkboxContainer {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1.125rem;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxContainer input[type='radio'] + span {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;

    border: 2px solid var(--blue-500);
    border-radius: 999px;

    cursor: pointer;

    transition: background 0.2s;
}

.checkboxContainer span:hover {
    background: rgba(31, 67, 88, 0.5);
    border-color: var(--blue-700);
}

.checkboxContainer input[type='radio']:checked + span {
    background: var(--purple-700);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--gray-100);
    font-size: 1.25rem; 

    transition: background 0.2s;
}

.checkboxContainer input[type='radio']:checked + span:hover {
    background: var(--purple-500);
} 

.taskDescription {
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.4;
    width: 100%;

    color: var(--gray-100);
}

.taskDescription.done {
    text-decoration: line-through;
    color: var(--gray-300);
}

.task button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;

    background: var(--gray-500);
    border: none;

    font-size: 1.5rem;
    color: var(--gray-300);

    cursor: pointer;
}

.task button:hover {
    background: var(--gray-400);
    color: var(--red-500);
}